.TestedWord_word_placeholder__o8cb8 span {
    visibility: visible;
    opacity: 50%;
}

.BlurredWord__word--blurred span {
    /* Please don't override my hax */
    visibility: visible !important;
    opacity: 50%
}